<ul id="messages">
	{{#each cont}}
		<li>
			{{this.email}}:
			{{this.message}}
		</li>
	{{/each}}
</ul>
<form id="chat-form" action="">
	<input type="text" id="email-input" placeholder="Ingresa tu email" required />
	<input id="chat-input" a /><button>Enviar</button>
</form>